<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.ridesapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RidesApp</name>
    <description>Geoticker with joining Rides</description>
    <author email="rolandogarro4@gmail.com" href="https://cordova.apache.org">
        Rolando Garro
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
